/* Webfont: PFDinDisplayPro-Thin */@font-face {
    font-family: 'PFDinDisplayProThin';
    src: url('PFDinDisplayPro-Thin.eot'); /* IE9 Compat Modes */
    src: url('PFDinDisplayPro-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('PFDinDisplayPro-Thin.woff') format('woff'), /* Modern Browsers */
         url('PFDinDisplayPro-Thin.ttf') format('truetype'); /* Safari, Android, iOS */
         url('PFDinDisplayPro-Thin.svg#PFDinDisplayPro-Thin') format('svg'), /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

