@charset "UTF-8";

@import "../resources/fonts/styles.css";

@import "../resources/fonts/PFDinDisplayPro-Thin.css";

@import "../resources/fonts/PFDinDisplayPro-Light.css";

@import "../resources/fonts/PFDinDisplayPro-Regular.css";

@import "../resources/fonts/PFDinDisplayPro-Medium.css";

@font-face {
	font-family: 'PFDinDisplayProLight';
	src: url("PFDinDisplayProLight.TTF");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "PFDinDisplayProLight", Georgia !important;
	font-size: 14px;
	line-height: 1.42857143;
	color: #766a62;
	background-color: #fff;
	display: block;
}

p {
	margin: 0 0 10px;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #a50d12;
}

strong {
	font-family: "PFDinDisplayProLight", Georgia;
	font-weight: 600;
}

.container, .header, .top, .content, .footer {
	display: grid;
	/*text-align: -webkit-center;*/
}

.container {
	max-width: 1080px;
	min-width: 1020px;
	margin-right: auto;
	margin-left: auto;
}

.header {
	width: 100%;
	height: 100%;
}

.buttons {
	height: 50px;
}

.ui-widget {
	font-family: "PFDinDisplayProLight", Georgia !important;
}


.footer {
	font-family: "PFDinDisplayProThin", Georgia;
	text-align: center;	
	margin-top: 10px;
}

#tabAdmin, #tabMan, #tabInterv, #tabPublic, #tabCand, .ui-tabs {
	background-color: transparent;
	position: inherit;
}


.menuButtons {
	border: 0px !important;
	padding: 0px !important;
	/*background-color: #a50d12 !important;
	/*background: none !important;*/
	margin-bottom: 10px;
}

.menuButtons .ui-menu-parent>a .ui-menuitem-text, .menuButtons>.ui-menu-list>.ui-menuitem>a>.ui-menuitem-text
	{
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.ui-menu .ui-menuitem-text {
	float: left;
	color: #ffffff !important;
}

.ui-menuitem {
	background-color: #a50d12 !important;
	background: #c4c4c4
		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		0.8)), to(rgba(255, 255, 255, 0)));
}

.menuButtons .ui-icon-triangle-1-s {
	background: url(#{ resource [ 'images:seta-para-baixo.png' ]
}

)
no-repeat
;
}
table th {
	background-color: #eee solid !important;
	color: #a50d12 !important;
}

#loginPage {
	width: 100%;
}

.loginForm {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin: 20px;
	padding: 10px;
	
}
.ui-button .ui-button-text,.ui-paginator .ui-paginator-page{
	color:#a50d12 !important;
}
.label {
	text-align: right !important;
	min-width: 50px !important;
}

.field {
	min-width: 100px !important;
}